html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding: 1rem 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background: rgb(65, 64, 64);
  opacity: 1;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.brand {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.styleLinks {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.styleLinks:hover,
.brand:hover,
.btnNavsLinks:hover {
  color: orange;
}

.paragraph {
  text-align: center;
}

.navButtons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.btnNavs {
  background: rgb(65, 64, 64);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btnNavsLinks {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

/* COMMENTS LIST */
.container {
  display: grid;
}

.table-header {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.btnListDelete {
  background: rgb(216, 25, 25);
  color: #fff;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btnListUpdate {
  background: rgb(240, 199, 17);
  color: #fff;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btnListLinks {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

/* ADD COMMENTS */
.container-add-comments {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-input,
.form-text-area {
  width: 300px;
  border-radius: 5px;
  border: none;
  border: 1px solid #eee;
  padding: 10px;
}

.form-group {
  padding-top: 10px;
}

.btnForm {
  width: 320px;
  height: 40px;
  border: none;
  background: rgb(65, 64, 64);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btnForm:hover {
  background-color: #4e4e4e;
}
